@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

.heroSection {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* Ensures it's at least 120vh but can grow */
    overflow: hidden;
    background: url('../../assets/hero-bg.svg') no-repeat center center;
    background-size: cover;

    justify-content: center;
    align-items: center;
    /* padding-inline: 120px; */
}

.heroSectionContent {
    position: relative;
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroTopContent {
    position: relative;
    top: 70%;
    /* left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    z-index: 2;
    /* Ensures it stays above CoinImage */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-block: 200px;
    padding-inline: 12px;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 586px;
}

.heroTitle {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    color: #FFFFFFA6;
    text-shadow: 0px 1px 4px 0px #000000AD;
    text-align: center;
    text-transform: uppercase;
}

.heroSpan {
    background: url('../../assets/button-bg.jpg') no-repeat center center;
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}

.heroSpanH1 {
    background: url('../../assets/button-bg.jpg') no-repeat center center;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
}

.heroSubText {
    font-size: 18px;
    line-height: 27px;
    font-weight: 84;
    text-shadow: 0px 0px 1px 0px #0000002E;
    color: #B6B6BF;
    text-align: center;
}

.heroSubTextJoin {
    font-size: 14px;
    line-height: 21px;
    font-weight: 84;
    text-shadow: 0px 0px 1px 0px #0000002E;
    color: #B6B6BF;
    text-align: center;
}

.text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 84;
    text-shadow: 0px 0px 1px 0px #0000002E;
    color: #B6B6BF;
    text-align: center;
}

.button {
    /* position: relative; */
    width: 100%;
    max-width: 310px;
    background: linear-gradient(0deg, #6600FF, #6600FF),
        radial-gradient(58.43% 67.71% at 50% 59.38%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* border-top: 1px solid #FFFFFF30; */
    box-shadow:
        0px 3px 6px 0px #0000001A,
        0px 11px 11px 0px #00000017,
        0px 26px 15px 0px #0000000D,
        0px 45px 18px 0px #00000003,
        0px 71px 20px 0px #00000000;
    border-radius: 22px;
    /* Optional for rounded corners */
    color: #fff;
    /* Text color */
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 52px;
}

.coinImageTop {
    display: none;
}

.coinImage {
     position: absolute;
    /* top: 200px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: moveCoin 3s infinite ease-in-out alternate; 
}

@keyframes moveCoin {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}


.lightBall {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    /* Behind all content */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1250px) {
    .image {
        width: 950px;
    }
}

 @media (max-width: 1000px) {
    .image {
        width: 850px;
    }
}

@media (max-width: 970px) {
    .coinImage{
        margin-top: -200px;
    }
    .image {
        width: 800px;
    }
}

@media (max-width: 865px) {
    .image {
        width: 720px;
    }
}

@media (max-width: 725px) {
    .coinImage{
        margin-top: -300px;
    }
    .image {
        width: 550px;
    }

    .heroTitle {
        font-size: 45px;
    }

    .heroSubText {
        font-size: 14px;
    }

    .heroSubTextJoin {
        font-size: 12px;
    }
}

@media (max-width: 640px) {
    .heroTitle {
        font-size: 40px;
        line-height: 48px;
    }
}

@media (max-width: 590px) {
    .coinImage{
        margin-top: -400px;
    }
    .image {
        width: 400px;
    } 

}

@media (max-width: 425px) {
    .coinImage{
        margin-top: -500px;
    }
    .image {
        width: 300px;
    } 
}

@media (max-width: 376px) {
    .coinImage{
        margin-top: -600px;
    }
    .image {
        width: 250px;
    } 
}

/*@media (max-width: 320px) {
    .imageTop {
        width: 250px;
    }

    .heroSubText {
        width: 290px;
    }
} */