.mediaContainer {
    display: flex;
    width: 40px;
    height: 40px;
    background: #0000002B;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 51%, rgba(255, 255, 255, 0) 97.5%);
}